server/src/main/resources/xsd/forecasts.xsd

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://schema.feeds.meteonews.net/common"
            xmlns="http://schema.feeds.meteonews.net"
            targetNamespace="http://schema.feeds.meteonews.net" elementFormDefault="qualified"
            version="2013-12-16 Rev. 299">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">Specification of the forecasts-XML-Feed</xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://schema.feeds.meteonews.net/common" schemaLocation="common.xsd"/>
    <xsd:element name="forecasts">
        <xsd:annotation>
            <xsd:documentation>root-Tag (contains between 3 and 5 elements: (optionally) parameters, content, errors,
                ref, (optionally) debug)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="parameters" type="ForecastsParameters" minOccurs="0"/>
                <xsd:element name="content" type="ForecastsContent"/>
                <xsd:element name="errors" type="common:Errors"/>
                <xsd:element name="ref" type="common:HomepageReference"/>
                <xsd:element name="debug" type="common:Debug" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ForecastsParameters">
        <xsd:annotation>
            <xsd:documentation>This element lists all parameters that are used to create the result of the XML-Feed.
                These parameters can be set in the query-string part of the URL (except mexs_id or geoname_id, these
                elements are set by the path-part of the URL). This element contains always 6 elments (either the
                element "mexs_id" or "geoname_id").
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="lang" type="xsd:string"/>
            <xsd:element name="cumulation" type="ForecastsCumulationParameter"/>
            <xsd:element name="begin" type="ForecastsBegin"/>
            <xsd:element name="end" type="ForecastsEnd"/>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="onEmpty" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ForecastsCumulationParameter">
        <xsd:annotation>
            <xsd:documentation>This element contains for which timestep the result is returned.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(1|3|6|12|24)h"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ForecastsBegin">
        <xsd:annotation>
            <xsd:documentation>Contains the datetime-mark at which the output of data should begin. The specification of
                these marks is given in the documentation: http://***.feeds.meteonews.net/doc/forecasts.php
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="common:ForecastsDayCount common:ForecastsDateTime"/>
    </xsd:simpleType>
    <xsd:simpleType name="ForecastsEnd">
        <xsd:annotation>
            <xsd:documentation>Contains the datetime-mark at which the output of data should end. The specification of
                these marks is given in the documentation: http://***.feeds.meteonews.net/doc/forecasts.php
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="common:ForecastsDayCount common:ForecastsDateTime"/>
    </xsd:simpleType>
    <xsd:complexType name="ForecastsContent">
        <xsd:annotation>
            <xsd:documentation>The content-element contains a sequence of timeperiod-elements (or probably a
                'fallbackFeature' element if no forecast data is available)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="timeperiod" type="ForecastsTimeperiod" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="fallbackFeatures" type="ForecastsFallbackFeatures" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ForecastsTimeperiod">
        <xsd:annotation>
            <xsd:documentation>Every timeperiod-element has 2 attributes (end_datetime, cumulation). They describe in
                local time the cumulation time in hours of the forecast and the end timestamp of the validity of the
                forecast. A given measurements for an exact timestamp uses always the timestamp "end_datetime", on the
                other hand a cumulated measurement is calculated "cumulation" hours backwards from the timestamp
                "end_datetime".
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="temp" type="TypeTemp" minOccurs="1"/>
            <xsd:element name="temp_avg" type="TypeTempAvg" minOccurs="1"/>
            <xsd:element name="temp_min" type="TypeTempMin" minOccurs="1"/>
            <xsd:element name="temp_max" type="TypeTempMax" minOccurs="1"/>
            <xsd:element name="temp_wind" type="TypeTempWind" minOccurs="1"/>
            <xsd:element name="temp_felt" type="TypeTempFelt" minOccurs="1"/>
            <xsd:element name="temp_5cm" type="TypeTemp5cm" minOccurs="1"/>
            <xsd:element name="temp_m5cm" type="TypeTempM5cm" minOccurs="1"/>
            <xsd:element name="temp_m20cm" type="TypeTempM20cm" minOccurs="1"/>
            <xsd:element name="temp_m100cm" type="TypeTempM100cm" minOccurs="1"/>
            <xsd:element name="windforce" type="ForecastsWindforce" minOccurs="1"/>
            <xsd:element name="winddir" type="TypeWinddir" minOccurs="1"/>
            <xsd:element name="gustforce" type="ForecastsGustforce" minOccurs="1"/>
            <xsd:element name="symb" type="TypeSymb" minOccurs="1"/>
            <xsd:element name="daynight" type="TypeDaynight" minOccurs="1"/>
            <xsd:element name="txt" type="TypeTxt" minOccurs="1"/>
            <xsd:element name="sun_prob" type="TypeSunProb" minOccurs="1"/>
            <xsd:element name="sun" type="TypeSun" minOccurs="1"/>
            <xsd:element name="precip_prob" type="TypePrecipProb" minOccurs="1"/>
            <xsd:element name="precip" type="TypePrecip" minOccurs="1"/>
            <xsd:element name="precip_precise" type="TypePrecipPrecise" minOccurs="1"/>
            <xsd:element name="clouds" type="TypeClouds" minOccurs="1"/>
            <xsd:element name="temp_dew" type="TypeTempDew" minOccurs="1"/>
            <xsd:element name="accur" type="TypeAccur" minOccurs="1"/>
            <xsd:element name="hum" type="TypeHumidity" minOccurs="1"/>
            <xsd:element name="evapo" type="Evaporation" minOccurs="1"/>
            <xsd:element name="precip_rangemin" type="TypePrecipRangeMin" minOccurs="1"/>
            <xsd:element name="precip_rangemax" type="TypePrecipRangeMax" minOccurs="1"/>
            <xsd:element name="precip_rangemin_precise" type="TypePrecipRangeMinPrecise" minOccurs="1"/>
            <xsd:element name="precip_rangemax_precise" type="TypePrecipRangeMaxPrecise" minOccurs="1"/>
            <xsd:element name="snow_line" type="TypeSnowLine" minOccurs="1"/>
            <xsd:element name="freez_level" type="TypeFreezeLevel" minOccurs="1"/>
            <xsd:element name="fog_level" type="TypeFogLevel" minOccurs="1"/>
            <xsd:element name="snow_on_road_index" type="TypeSnowOnRoadIndex" minOccurs="1"/>
            <xsd:element name="snow" type="TypeSnow" minOccurs="1"/>
            <xsd:element name="snow_rangemin" type="TypeSnowRangeMin" minOccurs="1"/>
            <xsd:element name="snow_rangemax" type="TypeSnowRangeMax" minOccurs="1"/>
            <xsd:element name="glob_rad" type="TypeGlobRad" minOccurs="1"/>
            <xsd:element name="uv" type="TypeUV" minOccurs="1"/>
            <xsd:element name="pres" type="AirPressure" minOccurs="1"/>
            <xsd:element name="last_update" type="TypeLastUpdate" minOccurs="1"/>
            <xsd:element name="temp_mor" type="TypeTempMor" minOccurs="0"/>
            <xsd:element name="temp_aft" type="TypeTempAft" minOccurs="0"/>
            <xsd:element name="symb_mor" type="TypeSymbMor" minOccurs="0"/>
            <xsd:element name="symb_aft" type="TypeSymbAft" minOccurs="0"/>
            <xsd:element name="daynight_mor" type="TypeDaynightMor" minOccurs="0"/>
            <xsd:element name="daynight_aft" type="TypeDaynightAft" minOccurs="0"/>
            <xsd:element name="txt_mor" type="TypeTxtMor" minOccurs="0"/>
            <xsd:element name="txt_aft" type="TypeTxtAft" minOccurs="0"/>
        </xsd:all>
        <xsd:attribute name="end_datetime" type="SQLDatetime" use="required"/>
        <xsd:attribute name="cumulation" type="ForecastsCumulation" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="TypeTemp">
        <xsd:annotation>
            <xsd:documentation>Element for a temperature 2m above ground (standard in meteorological measurements) at a
                particular time (not a time period).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="TemperatureData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as temperature has no fractional digits (so they are integers) or an empty
                value is possible
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="DecimalNumberWithoutFraction Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="DecimalNumberWithoutFraction">
        <xsd:annotation>
            <xsd:documentation>A number with no fractional digits (so an integer)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Empty">
        <xsd:annotation>
            <xsd:documentation>Element with no content (but optionally attributes, according to corresponding
                definition)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value=""/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TemperatureUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as Temperature has the unit °C</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="°C"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeTempAvg">
        <xsd:annotation>
            <xsd:documentation>Element for a average temperature 2m above ground for a given time period
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeTempMin">
        <xsd:annotation>
            <xsd:documentation>Element for minimum temperature 2m above ground for a given time period. The minimum
                could be any where during the time period (e.g. it may not be in the morning, but could probably be in
                the afternoon).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeTempMax">
        <xsd:annotation>
            <xsd:documentation>Element for maximum temperature 2m above ground for a given time period. The maximum
                could be any where during the time range (e.g. it may be in the afternoon, but could probably be in the
                morning).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeTempWind">
        <xsd:annotation>
            <xsd:documentation>Element for wind chill at a particular time.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeTempFelt">
        <xsd:annotation>
            <xsd:documentation>Element for felt temperature at a particular time.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeTemp5cm">
        <xsd:annotation>
            <xsd:documentation>Element for a temperature 5 cm above ground ("surface temperature") at a particular time
                (not a time period)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeTempM5cm">
        <xsd:annotation>
            <xsd:documentation>Element for a temperature 5 cm below ground ("soil temperature"), the value represents
                the mean of the given time period
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeTempM20cm">
        <xsd:annotation>
            <xsd:documentation>Element for a temperature 20 cm below ground ("soil temperature"), the value represents
                the mean of the given time period
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeTempM100cm">
        <xsd:annotation>
            <xsd:documentation>Element for a temperature 100 cm below ground ("soil temperature"), the value represents
                the mean of the given time period
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ForecastsWindforce">
        <xsd:annotation>
            <xsd:documentation>Element for a median wind force. For this value, the mean is taken during a time period.
                In the normal case, when you would show a forecasted windforce to your user, you should use the content
                of this element for the windforce. But in the case you use the winddir e.g. in a formula to calculate
                something, you prefer to use the content of the "raw" attribute.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="WindData">
                <xsd:attribute name="unit" type="WindUnit" use="required"/>
                <xsd:attribute name="raw" type="xsd:nonNegativeInteger"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="WindData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as wind force has no fractional digits (so they are integers) or an empty
                value is possible
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="DecimalNumberWithoutFraction Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="WindUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as wind force has the unit km/h</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="km/h"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeWinddir">
        <xsd:annotation>
            <xsd:documentation>Element for a wind direction (main direction during a time period). If the attribute
                "variable" is set to "1", an exact wind direction MUST NOT be declared. Instead a representative value
                for "variable wind" SHOULD be given.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="WinddirData">
                <xsd:attribute name="unit" type="WinddirUnit" use="required"/>
                <xsd:attribute name="variable" type="WinddirVariable"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="WinddirData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as wind direction is an integer between 1° and 360° (inclusive) or an
                empty value is possible (no main wind direction can be declared or main wind direction is unkown)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="DegreeInteger Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="DegreeInteger">
        <xsd:annotation>
            <xsd:documentation>An integer number between 1 and 360 (inclusive)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="360"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="WinddirUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as wind direction has the unit ° (so 360° express north wind, 90° east
                wind, 180° south wind, 270° west wind)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="°"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="WinddirVariable">
        <xsd:annotation>
            <xsd:documentation>1 stands for a variable main wind direction during a specific time period, 0 for a
                non-variable main wind direction
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="|1|0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ForecastsGustforce">
        <xsd:annotation>
            <xsd:documentation>Element for a maximal gust force during a time period. In the normal case, when you would
                show a forecasted gustforce to your user, you should use the content of this element for the gustforce.
                But in the case you use the gustdir e.g. in a formula to calculate something, you prefer to use the
                content of the "raw" attribute.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="WindData">
                <xsd:attribute name="unit" type="WindUnit" use="required"/>
                <xsd:attribute name="raw" type="xsd:nonNegativeInteger"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="TypeSymb">
        <xsd:annotation>
            <xsd:documentation>Element for a weather symbol code during a time period.</xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="SymbCode Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="SymbCode">
        <xsd:annotation>
            <xsd:documentation>Element for a symbol code. Following codes are possible: 1-56 and 90 or an empty value is
                possible. The symbol describes the weather during a time period.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:pattern value="90|[1-4]?[1-9]|[1-5]0|5[1-7]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeDaynight">
        <xsd:annotation>
            <xsd:documentation>Description if it is day or night (in the most time of the specific timeperiod). This
                could be used to display the weather-symbol with the sun respectively with the moon
                (day-/night-symbols).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="|day|night"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeTxt">
        <xsd:annotation>
            <xsd:documentation>Description of the weather character during a period. This string has a maximum length of
                25 characters.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeSunProb">
        <xsd:annotation>
            <xsd:documentation>Element for a sunshine fraction. This indicates how big the fraction of sunshine is
                during a period.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="PercentageData">
                <xsd:attribute name="unit" type="PercentageUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="PercentageData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as a percentage information is an integer value between 0 and 100
                (inclusive) or an empty value is possible
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="PercentageInteger Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="PercentageInteger">
        <xsd:annotation>
            <xsd:documentation>An integer number between 0 and 100 (inclusive)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="100"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PercentageUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as a percentage information has the unit %</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="%"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeSun">
        <xsd:annotation>
            <xsd:documentation>Element for the duration of sunshine during a period.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="DurationData">
                <xsd:attribute name="unit" type="DurationUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="DurationData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as a duration are non-negatives integers or an empty value is possible.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="xsd:nonNegativeInteger Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="DurationUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as duration has the unit min (minutes).</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="min"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypePrecipProb">
        <xsd:annotation>
            <xsd:documentation>Element for a precipitation probability. This indicates how big the probability is, that
                precipitation falls during a period.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="PercentageData">
                <xsd:attribute name="unit" type="PercentageUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypePrecip">
        <xsd:annotation>
            <xsd:documentation>Element for a precipitation amount. Gives amount of fallen precipitation during a
                specific period (expectation value)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="PrecipData">
                <xsd:attribute name="unit" type="PrecipUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="PrecipData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as a precipitation amount is an decimal value with 1 fractional digit or
                an empty value is possible
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="DecimalNumberWithOneFractionDigit Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="DecimalNumberWithOneFractionDigit">
        <xsd:annotation>
            <xsd:documentation>A number with one fractional digit</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PrecipUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as a precipitation amount during a time period has the unit mm
                (millimetre). This is equal to the unit litre/m^2.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="mm"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypePrecipPrecise">
        <xsd:annotation>
            <xsd:documentation>Element for a precipitation amount. Gives amount of fallen precipitation during a
                specific period (expectation value, with decimal places)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="PrecipData">
                <xsd:attribute name="unit" type="PrecipUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeClouds">
        <xsd:annotation>
            <xsd:documentation>Element for a cloud cover of the sky. For this value, the mean over a specific period is
                taken.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="PercentageData">
                <xsd:attribute name="unit" type="PercentageUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeTempDew">
        <xsd:annotation>
            <xsd:documentation>Element for dew point temperature 2m above ground at a particular time.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="TypeAccur">
        <xsd:annotation>
            <xsd:documentation>Element for a accuracy of the forecast values. 0 indicates nearly no probability, that
                the forecast come true; 5 stands for a big probability, that the forecast come true.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="NonNegativIntegerUntil5 Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="NonNegativIntegerUntil5">
        <xsd:annotation>
            <xsd:documentation>An integer number between 0 and 5 (inclusive)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeHumidity">
        <xsd:annotation>
            <xsd:documentation>Element for a humidity. The value is calculated during a time period.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="PercentageData">
                <xsd:attribute name="unit" type="PercentageUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Evaporation">
        <xsd:annotation>
            <xsd:documentation>Definition of an evaporation of a water amount during a specific period.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="EvaporationData">
                <xsd:attribute name="unit" type="EvaporationUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="EvaporationData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as evaporation are non-negativ decimal numbers with one fraction digit or
                an empty value is possible.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="NonNegativDecimalNumberWithOneFractionDigit Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="NonNegativDecimalNumberWithOneFractionDigit">
        <xsd:annotation>
            <xsd:documentation>A non negativ number with one fractional digit</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0"/>
            <xsd:fractionDigits value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EvaporationUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as evaporation has the unit mm (millimetres).</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="mm"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypePrecipRangeMin">
        <xsd:annotation>
            <xsd:documentation>Element for a precipitation amount. Gives amount of fallen precipitation during a
                specific time period (maximal expected value)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="PrecipData">
                <xsd:attribute name="unit" type="PrecipUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypePrecipRangeMax">
        <xsd:annotation>
            <xsd:documentation>Element for a precipitation amount. Gives amount of fallen precipitation during a
                specific time period (minimum expected value)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="PrecipData">
                <xsd:attribute name="unit" type="PrecipUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypePrecipRangeMinPrecise">
        <xsd:annotation>
            <xsd:documentation>Element for a precipitation amount. Gives amount of fallen precipitation during a
                specific time period (maximal expected value, with decimal places)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="PrecipData">
                <xsd:attribute name="unit" type="PrecipUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypePrecipRangeMaxPrecise">
        <xsd:annotation>
            <xsd:documentation>Element for a precipitation amount. Gives amount of fallen precipitation during a
                specific time period (minimum expected value, with decimal places)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="PrecipData">
                <xsd:attribute name="unit" type="PrecipUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeSnowLine">
        <xsd:annotation>
            <xsd:documentation>Element for the altitude over sea level of the snow line. The value is valid at a
                particular time. If the attribute "ground" is set to "1", a representative value for snow down to
                "ground" COULD be displayed.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="LevelData">
                <xsd:attribute name="unit" type="LevelUnit" use="required"/>
                <xsd:attribute name="ground" type="SnowToGround"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="LevelData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as a level is an integer or an empty value is possible (for unknown level
                height or no fallen precipitation during corresponding period).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="xsd:integer Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="LevelUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as level has the unit m (metre).</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="m"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SnowToGround">
        <xsd:annotation>
            <xsd:documentation>1 indicates that every precipitation falls as snow, 0 indicates that probably not every
                precipitation falls as snow
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="|1|0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeFreezeLevel">
        <xsd:annotation>
            <xsd:documentation>Element for the altitude of the freezing level. The value is valid at a particular time.
                If the attribute "ground" is set to "1", a representative value for freezing level below ground COULD be
                displayed.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="LevelData">
                <xsd:attribute name="unit" type="LevelUnit" use="required"/>
                <xsd:attribute name="ground" type="FreezingLevelBelowGround"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="FreezingLevelBelowGround">
        <xsd:annotation>
            <xsd:documentation>1 indicates ground frost at station.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="|1|0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeFogLevel">
        <xsd:annotation>
            <xsd:documentation>Element for the height of the fog level (upper cover). The value is valid at a particular
                time.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="LevelData">
                <xsd:attribute name="unit" type="LevelUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="TypeSnowOnRoadIndex">
        <xsd:annotation>
            <xsd:documentation>Element for an index of the condition on the roads. 0: no risk for snow on the roads; 1:
                at exposed locations possible; 2: widespread a few centimeters; 3: widespread between 5 and 10
                centimeters; 4: more than 10 centimeters
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="NonNegativIntegerUntil4 Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="NonNegativIntegerUntil4">
        <xsd:annotation>
            <xsd:documentation>An integer number between 0 and 4 (inclusive)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeSnow">
        <xsd:annotation>
            <xsd:documentation>Element for a fresh snow amount. Gives amount of fallen fresh snow during a specific
                period (expectation value)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="SnowData">
                <xsd:attribute name="unit" type="SnowUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="SnowData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as a fresh snow amount is an non negative integer value or an empty value
                is possible
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="xsd:nonNegativeInteger Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="SnowUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as a fresh snow amount during a time period has the unit cm
                (centimetre).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="cm"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeSnowRangeMin">
        <xsd:annotation>
            <xsd:documentation>Element for a fresh snow amount. Gives amount of fallen fresh snow during a specific time
                period (maximal excpected value)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="SnowData">
                <xsd:attribute name="unit" type="SnowUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeSnowRangeMax">
        <xsd:annotation>
            <xsd:documentation>Element for a fresh snow amount. Gives amount of fallen fresh snow during a specific time
                period (minimum excepcted value)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="SnowData">
                <xsd:attribute name="unit" type="SnowUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeGlobRad">
        <xsd:annotation>
            <xsd:documentation>Element for the global radiation. For this value, the mean is taken during a period.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="RadiationData">
                <xsd:attribute name="unit" type="RadiationUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="RadiationData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as radiation are integers (negative values are possible) or an empty value
                is possible.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="xsd:integer Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="RadiationUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as radiation has the unit W/m² (power per area).</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="W/m²|W/m^2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeUV">
        <xsd:annotation>
            <xsd:documentation>Element for the uv-index. Definition:
                0,1,2: weak;
                3,4,5: medium;
                6,7: high;
                8,9,10: very high;
                &gt;10: extreme
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="xsd:nonNegativeInteger Empty"/>
    </xsd:simpleType>
    <xsd:complexType name="AirPressure">
        <xsd:annotation>
            <xsd:documentation>Definition of a pmean value of air pressure during a specific time period.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="AirPressureData">
                <xsd:attribute name="unit" type="AirPressureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="AirPressureData">
        <xsd:annotation>
            <xsd:documentation>Data expressed as mean value of air pressure are unsigned integers or an empty value is
                possible.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="xsd:nonNegativeInteger Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="AirPressureUnit">
        <xsd:annotation>
            <xsd:documentation>Data expressed as a mean value of air pressure during a time period has the unit hPa
                (hectopascal).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="hPa"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeLastUpdate">
        <xsd:annotation>
            <xsd:documentation>Element for a last update time. This value indicates when the values were recomputed for
                the last time (in UTC).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="SQLDatetime Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="SQLDatetime">
        <xsd:annotation>
            <xsd:documentation>Content described by "YYYY-MM-DD HH:MM:SS" date-format</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeTempMor">
        <xsd:annotation>
            <xsd:documentation>Element for a temperature at 06:00 (local time) in the morning. "Morning temperature",
                best value for a temperature information for a whole day.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TypeTempAft">
        <xsd:annotation>
            <xsd:documentation>Element for maximum temperature between 12:00 and 18:00 (local time). "Afternoon
                temperature", best value for a temperature information for a whole day.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TemperatureData">
                <xsd:attribute name="unit" type="TemperatureUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="TypeSymbMor">
        <xsd:annotation>
            <xsd:documentation>Element for a weather symbol code during the morning (06:00-12:00 (local time)).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="SymbCode Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="TypeSymbAft">
        <xsd:annotation>
            <xsd:documentation>Element for a weather symbol code during the afternoon (12:00-18:00 (local time)).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union memberTypes="SymbCode Empty"/>
    </xsd:simpleType>
    <xsd:simpleType name="TypeDaynightMor">
        <xsd:annotation>
            <xsd:documentation>Description if it is day or night (in the most time during morning (06:00-12:00)). This
                could be used to display the morning weather-symbol with the sun respectively with the moon
                (day-/night-symbols). (Morning weather-symbols are available for 12h/24h cumulations)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="|day|night"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeDaynightAft">
        <xsd:annotation>
            <xsd:documentation>Description if it is day or night (in the most time during afternoon (12:00-18:00)). This
                could be used to display the afternoon weather-symbol with the sun respectively with the moon
                (day-/night-symbols). (Afternoon weather-symbols are available for 12h/24h cumulations)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="|day|night"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeTxtMor">
        <xsd:annotation>
            <xsd:documentation>Description of the weather character during morning (06:00-12:00). This string has a
                maximum length of 25 characters.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TypeTxtAft">
        <xsd:annotation>
            <xsd:documentation>Description of the weather character during afternoon (12:00-18:00). This string has a
                maximum length of 25 characters.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ForecastsCumulation">
        <xsd:annotation>
            <xsd:documentation>Count of hours of the cumulation time for a time period</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:pattern value="1|3|6|12|24"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ForecastsFallbackFeatures">
        <xsd:annotation>
            <xsd:documentation>The 'fallbackFeatures' element contains a sequence of feature-elements (and is only
                returned, if no forecast data for the requested feature is availble). This list of features gives
                alternative feature to present to the user (or present him a choice of alternative features).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="feature" type="ForecastsFeature" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ForecastsFeature">
        <xsd:annotation>
            <xsd:documentation>Every feature element contains 3 tags. The 'name' element contains a representational
                string of the feature, this string can be displayed to a user. The 'url' element contains a (relative)
                URL to the forecasts feed of the feature. The 'distance' element contains the distance (in kilometers)
                from the requested feature to the feature of this element.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
            <xsd:element name="geoname_id" type="GeonameID" minOccurs="1"/>
            <xsd:element name="url" type="xsd:anyURI" minOccurs="1"/>
            <xsd:element name="distance" type="Distance" minOccurs="1"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:simpleType name="GeonameID">
        <xsd:annotation>
            <xsd:documentation>This element contains a Geoname-ID. This is an ID for a geographic locality specified by
                the database geonames.org. It consistes of digits. Information for such an ID is available in the
                geonames-feed: http://***.feeds.meteonews.net/geonames/{id}.xml The content of the feed is returned for
                this ID.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]+"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Distance">
        <xsd:annotation>
            <xsd:documentation>Definition of a distance-Tag</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:nonNegativeInteger">
                <xsd:attribute name="unit" type="common:DistanceUnit" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>

